{% load static %}
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/7b81f6ed22.js"></script>
    <title> {% block title %}{% endblock %}</title>
    <style>
        body {
            background-color: #212153;
            color: white;
        }
        .navbar, .footer {
            background-color: #212153;
        }
        .navbar-brand img {
            height: 70px;
            width: 70px;
        }
        .navbar-nav .nav-link {
            font-size: 18px;
        }
        .btn, .form-control, .nav-link, .dropdown-item, .btn-outline-success {
            color: white;
        }
        .btn-outline-success {
            
            border-color: white;
        }
        .btn-outline-success:hover {
            background-color: white;
            color: #212153;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/">{% block brand %}<img class="rounded-circle account-img" src="{% static 'sdu.png' %}" style="margin-right: 20px">{% endblock %}</a>
        <a class="navbar-brand" style="color: white;" href="/">Lost & Found </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view' %}">Lost & Found items</a>
                </li>
                <li class="nav-item {% block about_active %}{% endblock %}">
                    <a class="nav-link" href="{% url 'about_us' %}">About Us</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            {% if user.is_authenticated %}
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <b>{{ user.username }}</b>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" style="color: black;" href="{% url 'profile' %}">Profile</a>
                    <a class="dropdown-item" style="color: black" href="{% url 'logout' %}">Log out</a>
                </div>
            </div>
            {% else %}
            <div class="navbar-nav">
                <a class="nav-link" href="{% url 'login' %}">Log in</a>
            </div>
            {% endif %}
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    
    {% block footer %}
    <footer class="footer mt-2 py-2">
        <div class="container text-center">
            <p class="mb-0" style="color: white">SDU University, Abylaikhana 1/1, Kaskelen</p>
        </div>
    </footer>
    {% endblock footer %}
</body>
</html>
