{% extends 'base.html' %}
{% block title %}Create Item{% endblock %}
{% block create_active %}active{% endblock %}
{% block content %}
    <h1>Create a new Item</h1>
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
            <label >{{field.label_tag}}</label>
             {{field}}
            <span style="color: red;">{{field.error}}</span>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">OK</button>
    </form>
{% endblock %}
